[Unit]
Description=Go Application Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/magic-crawler
ExecStart=/opt/magic-crawler/build/app-linux-amd64 -c /etc/magic-crawler/config.yml
Restart=on-failure
RestartSec=5
User=root
Environment=GO_ENV=production

[Install]
WantedBy=multi-user.target
